<mat-nav-list class="!py-4 space-y-1">
  <a
    mat-list-item
    routerLink="/dashboard"
    routerLinkActive="active-link"
    class="!mx-3 !rounded-xl transition-all duration-200 !h-12 group"
  >
    <mat-icon matListItemIcon class="transition-colors group-hover:text-primary"
      >home</mat-icon
    >
    <span matListItemTitle class="!font-bold !text-sm">Dashboard</span>
  </a>

  @for (feature of features; track feature.path) {
    <a
      mat-list-item
      [routerLink]="['/', feature.path]"
      routerLinkActive="active-link"
      class="!mx-3 !rounded-xl transition-all duration-200 !h-12 group"
    >
      <mat-icon
        matListItemIcon
        class="transition-colors group-hover:text-primary"
        >layers</mat-icon
      >
      <span matListItemTitle class="!font-bold !text-sm">{{
        feature.label
      }}</span>
    </a>
  }

  @if (features.length === 0) {
    <div
      class="px-6 py-8 text-center flex flex-col items-center gap-2 opacity-50"
    >
      <mat-icon class="!text-3xl text-gray-300">hourglass_empty</mat-icon>
      <span class="text-xs font-semibold uppercase tracking-wider italic"
        >No features found</span
      >
    </div>
  }
</mat-nav-list>
